.quiz-item-container {
  max-width: 50em;
  width: 70%;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  display: grid;
  row-gap: 1em;
  border-bottom: 0.05em solid #dbdef0;
}

.question {
  margin: 0;
  font-family: "Karla", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #293264;
}

.answers {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  column-gap: 1em;
  flex-wrap: wrap;
}

.answer-item {
  margin-bottom: 1em;
  padding: 0.5em 0.75em;
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.75rem;
  text-align: center;
  color: #293264;
  border-radius: 0.6em;
  cursor: default;
  align-self: flex-start;
}

.answer-regaular {
  border: solid 0.1em #4d5b9e;
  cursor: pointer;
}

.answer-regaular:hover {
  background: #d6dbf5;
  border: solid 0.1em #d6dbf5;
}

.answer-regaular:active,
.answer-selected:active {
  background: #d6dbf5;
  border: inset 0.1em #293264;
}

.answer-selected {
  background: #d6dbf5;
  border: solid 0.1em #d6dbf5;
  cursor: pointer;
}

.answer-selected:hover {
  background: none;
  border: solid 0.1em #4d5b9e;
}

.answer-disabled {
  border: solid 0.1em #d6dbf5;
  opacity: 0.5;
}

.answer-right {
  background: #94d7a2;
  border: solid 0.1em #94d7a2;
}

.answer-wrong {
  background: #f8bcbc;
  opacity: 0.5;
  border: solid 0.1em #f8bcbc;
}
